{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works: https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PupMap App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                {{!-- <li><a href="/posts/new">Add a Post</a></li> --}}
            </ul>
        </nav>
        {{!-- <p>I'm a header</p> --}}
    </header>

    {{!-- <p>I will be on every page of the site</p> --}}
    <main>
        {{{body}}}
    </main>
    {{!-- <footer>I'm a footer</footer> --}}
</body>

</html>