<header class="biscuit-header">
    <h1>Biscuits To Earn</h1>
</header>

<p class="biscuit-paragraph">
    Here are all of the biscuit badges that exist and how you earn them.
    {{#if isLoggedIn}}
        The darker biscuits are the ones your doggy earned and drooled on.
    {{else}}
        Log in to see which biscuits your doggy has already earned!
    {{/if}}
</p>

<div class="biscuit-container">
    {{#each allBiscuits}}
        <div class="biscuit-card {{#if (includes ../earnedIds this._id)}}earned{{else}}unearned{{/if}}">
            <strong>{{this.biscuit_name}}</strong>
            <span>{{this.description}}</span>
        </div>
    {{/each}}
</div>

<div class="return-home">
    <a href="/home">Back to Homepage</a>
</div>