<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="error-page">
    <main>
        <p class="error">{{message}}</p>
        <p><a href="/">Go back home</a></p>
    </main>
</body>
</html>