{{!-- home page shows top 10 parks, overview of app and has links to login , sign up --}}

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body class="home-body">
        <div class="home-container">
        <header>
            <h1>Welcome to PupMap!</h1>
        </header>
        <main>
            {{!-- TODO: home page shows top 10 parks, overview of app and has links to login , sign up --}}
        </main>
        </div>
    </body>
</html>