{{!-- home page shows top 10 parks, overview of app and has links to login , sign up --}}

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body class="home-body">
        <header> Home Page </header>
    </body>
</html>