{{!-- home page shows top 10 parks, overview of app and has links to login , sign up --}}

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body class="home-body">
        <header class="home-header"><h1>PupMap</h1></header>
        <div>
                <div class="home-nav">
                    <a href="/home">Home</a>
                    <a href="/parks">All Parks</a>
                    <a href="/biscuits">All Biscuits</a>
                    <a href="/editPupfile">Edit My PupFile</a>
                </div>
            </div>
        <p class="home-paragraph">
            Welcome to PupMap - we love your pup(s) just as much as you do! We want your pup(s) to be able to go out and enjoy, which we 
            know can be difficult given not everywhere is pet friendly. That's why we decided to come up with this website - to help
            make it easier for you to find places to bring your dog that have the amentities you desire. 
        </p>
        <div class="homepage-top-ten-park-list">
            <ol> 
                <p>Top Ten Parks <br>(they will contain <br>
                    links once ratings are up<br>
                    so the user can  <br>
                    click on it to go to <br>
                    that parks page.)</p>
                <li>Park 1</li>
                <li>Park 2</li>
                <li>Park 3</li>
                <li>Park 4</li>
                <li>Park 5</li>
                <li>Park 6</li>
                <li>Park 7</li>
                <li>Park 8</li>
                <li>Park 9</li>
                <li>Park 10</li>
            </ol>
        </div>
    </body>
</html>